.login-container{
    padding: 40px 20px;
    border: 3px solid black;
    border-radius: 14px;

    .input-holder{
        margin-bottom: 12px;

        input{
            border: 1px solid black;
            border-radius: 8px;
            padding: 8px 12px;
        }
    }
}


.error-message{
    color: red;
    font-size: 14px;
    margin-top: 4px;
}
