@use 'variables.scss';

.exe-gray-bg{
    background-color: variables.$gray;
}

.exe-gray-border{
    border-color: variables.$gray;
}

.exe-dark-gray-bg{
    background-color: variables.$dark-gray;
}

.exe-red-text{
    color: variables.$red;
}


.center-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5{
    line-height: 1;
}

h1{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 28px;
    font-weight: 700;
}

h4{
    font-size: 22px;
    font-weight: 700;
}

h5{
    font-size: 20px;
    font-weight: 700;
}

h6{
    font-size: 18px;
    font-weight: 700;
}

.primary-button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 6px;
    transition: all 0.3s ease;

    &:hover{
        background-color: white;
        color: blue;
        cursor: pointer;
    }
}

.link-button{
    transition: all 0.2s ease;
    cursor: pointer;
    color: white;

    &:hover{
        color: variables.$gray;
    }
}

.link-box-button{
    transition: all 0.2s ease;
    cursor: pointer;
    border: 2px solid variables.$dark-gray;
    border-radius: 4px;
    padding: 4px 8px;

    &:hover{
        border-color: white;
    }
}


.main-layout{
    background-color: variables.$dark;
    color: variables.$gray;
}
